{% extends "beers/base.html" %}
{% block navbar %}
            <a class="nav-item nav-link" href="/about">ABOUT</a>  
            <a class="nav-item nav-link" href="/login">LOGIN</a>
            <a class="nav-item nav-link" href="/register">REGISTER</a>
{% endblock navbar %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
<br>
TÄMÄ ON KURSSIN CYBER SECURITY PROJECT (1 OP) PROJEKTI, JOSSA ON TARKOITUS HAVAINNOLLISTAA VIITTÄ ERILAISTA TIETO...
<br>
<br>


        </div>
{% endblock content %}
</article>