{% extends "beers/base.html" %}
{% block navbar %}
            <a class="nav-item nav-link" href="/about">ABOUT</a>  
            <a class="nav-item nav-link" href="/login">LOGIN</a>
            <a class="nav-item nav-link" href="/register">REGISTER</a>
{% endblock navbar %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
<br>
<p>Idea of application is that persons with admin rights are able to put different beers (perhaps from alko.fi) for registered users to evaluate.</p>

At the same time i tried to make and fix five different security problems with the application for the learning perspective. These are:  <br>
<br>
<ul>
- SQL injection <br>
- Cross-site scripting (XSS) <br>
- Cross-site Request Forgery (CSRF) <br>
- Identification and Authentication Failures <br>
- Broken access control <br>

</ul>
<br>

<b>Try yourself!</b>

<br>
<br>


        </div>
{% endblock content %}
</article>