{% extends "beers/base.html" %}
{% block navbar %}
            <a class="nav-item nav-link" href="/home">HOME</a>
            <!-- <a class="nav-item nav-link" href="/about">ABOUT</a> -->  
            <!--  <a class="nav-item nav-link" href="#">LOGIN</a> -->
            <a class="nav-item nav-link" href="/logout">LOGOUT</a>
            <!--  <a class="nav-item nav-link" href="#">REGISTER</a> -->
            <a class= "nav-item nav-link"> Hi {{ user.username }}! You are logged in</a>
{% endblock navbar %}

{% block content %}
{% if user.is_authenticated %}

<p></p>
    {% for beer in beers %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#"></a>
              <small class="text-muted"></small>
            </div>

            <div>
             {{ beer.beer_name }}. Counry: {{ beer.beer_country }} <br>
             <a href="{{ beer.beer_link }}"> Details</a> <br>
             Creator: {{ beer.author }}, Time: {{ beer.pub_date }} <br>
             <a href="/beer/{{ beer.id }}" >RATE!</a>  <a href="/review/{{ beer.id }}" >Other Reviews</a>
             
            </div>
            <h2><a class="article-title" href="#"></a></h2>
            <p class="article-content"></p>
          </div>
        </article>
    
    {% endfor %}
    {% else %}
<p>You are not logged in</p>
{% endif %}
{% endblock content %}
