{% extends "beers/base.html" %}
{% block navbar %}
            <a class="nav-item nav-link" href="/about">ABOUT</a> 
            <a class="nav-item nav-link" href="/login">LOGIN</a>
            <a class="nav-item nav-link" href="/register">REGISTER</a>
{% endblock navbar %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <!-- FIX FLAW 2: Cross-site scripting (XSS) 
        {{ message }}
        -->
        {{ message | safe }} <!---->
    </div>
    {% endfor %}
{% endif %}

<div>
    <h2>LOGIN</h2>
        <form action="/login/" method="POST" enctype="multipart/form-data">
            <!-- FIX for FLAW 2: Cross-site scripting (XSS) {% csrf_token %} --> 
            
            <p>
        Username: <br>
        <input type="text" name="username" rows="1" cols="20"></textarea>
            <p>
        Password: <br>
        <input type="password" name="password" rows="1" cols="20"></textarea>
            <p>
        <input type="submit" value="LOGIN">
<p>
        
</div>
{% endblock content %}

