{% extends "beers/base.html" %}
{% block navbar %}
            <a class="nav-item nav-link" href="/home">HOME</a>
            <!-- <a class="nav-item nav-link" href="/about">ABOUT</a> -->  
            <!--  <a class="nav-item nav-link" href="#">LOGIN</a> -->
            <a class="nav-item nav-link" href="#">FEEDBACK</a> 
            <a class="nav-item nav-link" href="/logout">LOGOUT</a>

            <a class= "nav-item nav-link"> Hi {{ user.username }}! You are logged in</a>
{% endblock navbar %}

{% block content %}
<div>
    <h2>RESULTS</h2>

    Number of reviews: {{amount }} <br>
    Average stars: {{ avg }} <br> <br>

<div class="scroller">
    {% for review in reviews %}
    <article class="media content-section">
    <div class="media-body">

        Arvostelu: {{ review.review_text }} <br>
        Tähdet: {{ review.stars }}

    </div>
</article>

    {% endfor %}

</div>





        
</div>
{% endblock content %}
